.div {
    content: " ";
    position: relative;
    background: linear-gradient(
        110deg,
        rgba(255, 57, 152, 1) 0%,
        rgba(255, 57, 57, 1) 16%,
        rgba(255, 129, 57, 1) 50%,
        rgba(57, 255, 160, 1) 69%,
        rgba(255, 57, 152, 1) 93%,
        rgba(255, 57, 57, 1) 16%,
        rgba(255, 129, 57, 1) 50%,
    );
    background-size: cover;
    background-position: center center;
    // background-color: red;
    width: 188px;
    height: 75px;
    border-radius: 100px;
}

.div:hover {
    animation: slidebg 2s linear infinite;
    transition: background-position 0.3s;
}

@keyframes slidebg {
    to {
        background-position: calc(188px * 2);
    }
}

.button {
    background-color: #fff;
    border: none;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: inherit;
    position: absolute;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    top: 3px;
    right: 3px;
}
