* {
    font-family: Inter;
    font-weight: 400;
    letter-spacing: 0em;
    font-style: normal;
    text-align: left;
    font-style: normal;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    background-color: transparent;
}
